@import "_variable.scss";

.picture-header {
  width: 70vw;
  height: 50vw;
  margin: 0 auto;
  position: relative;
  transition: all 0.3s;
}

.picture {
  width: 30vw;
  position: absolute;
}

.pic-1 {
  top: 15%;
  right: 50%;
}

.pic-2 {
  top: 60%;
  right: 30%;
}

.pic-3 {
  top: 25%;
  right: 15%;
}

.picture:hover {
  transform: scale(1.3);
  z-index: 1;
  transition: all 0.3s;
}

.picture-gallery:hover .picture:not(:hover) {
  transform: scale(0.8);
  transition: all 0.3s;
  opacity: 0.4;
}
