@import "_variable.scss";

.shopping-parent {
  width: 100rem;
  height: 50rem;
}

.shopping {
  width: 30vw;
  transition: all 0.3s;
}

.shopping:hover {
  transform: scale(1.2);
  opacity: 30%;
  border-radius: 20rem;
}
.shopping-shoes {
  border-radius: 30rem;
}
