@import "_variable.scss";

.clothestore {
  position: relative;
  height: 60vh;
}
.clothestore:hover {
  transition: all 0.3s;
}

.clothestore-picture {
  clip-path: circle();
  width: 50rem;
}
.clothestore-picture:hover {
  filter: sepia(50%);
  opacity: 40%;
}

.clothestore:hover .clothestore-text {
  color: color(black);
  font-size: 2.9rem;
  position: absolute;
  top: 38%;
  right: 13%;
  transition: all 0.8s;
  text-decoration: underline;
}

.clothestore-text {
  font-size: 3rem;
  color: white;
}
