html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$colors: (
  brown: #5d4037,
  light-brown: #d7ccc8,
  black: #212121,
  grey: #9e9e9e,
  white: #ffffff,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
