@import "_variable.scss";

.explore {
  height: 30rem;
  position: relative;
}
.explore-header {
  font-size: 3rem;
  opacity: 0;
  color: #fff;
  position: absolute;
  top: 100%;
  left: 50%;
  transition: all 0.3s;
  text-transform: uppercase;
}
