@import "_variable.scss";
@import "_button.scss";
@import "_shopping.scss";
@import "_store.scss";
@import "_texteffect.scss";
@import "_pictures.scss";

.container {
  width: auto;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
}
